flows2.json
[{"id":"c02f9c7b.3f3b8","type":"ibmiot out","z":"7e925e22.90f9","authentication":"apiKey","apiKey":"9b7b9967.39d2f8","outputType":"evt","deviceId":"mycustomdevice","deviceType":"taldevicetype","eventCommandType":"Event Type","format":"json","data":"{}","qos":0,"name":"IBM IoT","service":"registered","x":740,"y":520,"wires":[]},{"id":"c582ed08.ddfc5","type":"ui_slider","z":"7e925e22.90f9","name":"","label":"Temp","tooltip":"","group":"4af8eabb.d3bb44","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"100","step":1,"x":290,"y":480,"wires":[["eb15f412.808bf8"]]},{"id":"799f6fbc.5bf9a","type":"ui_slider","z":"7e925e22.90f9","name":"","label":"Humi","tooltip":"","group":"4af8eabb.d3bb44","order":3,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"100","step":1,"x":290,"y":560,"wires":[["c14427a9.0049e8"]]},{"id":"2fa04aca.fdd126","type":"inject","z":"7e925e22.90f9","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":520,"wires":[["c582ed08.ddfc5","799f6fbc.5bf9a"]]},{"id":"9ab7ea55.50b698","type":"join","z":"7e925e22.90f9","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":590,"y":520,"wires":[["c02f9c7b.3f3b8"]]},{"id":"eb15f412.808bf8","type":"function","z":"7e925e22.90f9","name":"","func":"msg.payload = {\"humidity\": msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":480,"wires":[["9ab7ea55.50b698"]]},{"id":"c14427a9.0049e8","type":"function","z":"7e925e22.90f9","name":"","func":"msg.payload = {\"temperature\": msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":560,"wires":[["9ab7ea55.50b698"]]},{"id":"9b7b9967.39d2f8","type":"ibmiot","name":"myiotservice","keepalive":"60","serverName":"aghupc.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"4af8eabb.d3bb44","type":"ui_group","name":"My Plants","tab":"118b6473.b8f93c","order":1,"disp":true,"width":"6","collapse":false},{"id":"118b6473.b8f93c","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]