flows.json
[{"id":"46c5e995.cc89d8","type":"ibmiot in","z":"7e925e22.90f9","authentication":"apiKey","apiKey":"9b7b9967.39d2f8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":210,"y":220,"wires":[["e8bdbd1c.daeec","b8acb006.18565"]]},{"id":"e8bdbd1c.daeec","type":"function","z":"7e925e22.90f9","name":"Get Temp","func":"msg.payload = msg.payload.d.temperature;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":180,"wires":[["8151ea0f.1b5838","c34451d6.64336"]]},{"id":"b8acb006.18565","type":"function","z":"7e925e22.90f9","name":"Get Humid","func":"msg.payload = msg.payload.d.humidity;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":260,"wires":[["360769d1.a59ed6","c15ebb46.269178"]]},{"id":"c34451d6.64336","type":"switch","z":"7e925e22.90f9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"30","vt":"str"},{"t":"lt","v":"20","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":140,"wires":[["bfc51ff4.6bb87"],["912f292e.e93698"]]},{"id":"360769d1.a59ed6","type":"ui_gauge","z":"7e925e22.90f9","name":"","group":"4af8eabb.d3bb44","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#ca3839","#00e608","#ca3838"],"seg1":"50","seg2":"60","x":580,"y":280,"wires":[]},{"id":"bfc51ff4.6bb87","type":"ui_toast","z":"7e925e22.90f9","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Temperature is too high!!!","name":"","x":770,"y":100,"wires":[]},{"id":"8151ea0f.1b5838","type":"ui_chart","z":"7e925e22.90f9","name":"","group":"4af8eabb.d3bb44","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":570,"y":200,"wires":[[]]},{"id":"912f292e.e93698","type":"ui_toast","z":"7e925e22.90f9","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Temperature is too low!!!","name":"","x":770,"y":160,"wires":[]},{"id":"c15ebb46.269178","type":"switch","z":"7e925e22.90f9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"60","vt":"str"},{"t":"lt","v":"50","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":360,"wires":[["c41ff353.cebb2"],["407d808b.39169"]]},{"id":"c41ff353.cebb2","type":"ui_toast","z":"7e925e22.90f9","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Humidity is too high!!!","name":"","x":770,"y":320,"wires":[]},{"id":"407d808b.39169","type":"ui_toast","z":"7e925e22.90f9","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Humidity is too low!!!","name":"","x":770,"y":380,"wires":[]},{"id":"9b7b9967.39d2f8","type":"ibmiot","name":"myiotservice","keepalive":"60","serverName":"aghupc.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"4af8eabb.d3bb44","type":"ui_group","name":"My Plants","tab":"118b6473.b8f93c","order":1,"disp":true,"width":"6","collapse":false},{"id":"118b6473.b8f93c","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]